@charset "utf-8";
body{
    max-width: 100%;
}
#index-header{
    /*height: 80px;*/
    max-width: 100%;
    /*line-height: 80px;*/
    color:#fff;
    font-size: 2.6rem;
}
#index-header .container-fluid{
    max-width: 1260px;
    margin: 0 auto;
}
#index-header .container{
    min-width: 1260px;
}
.navbar{
    margin-bottom: 0;
    opacity: 0.86;
    background-color: #4f4f51;
    border: solid 1px #4f4f51;
    border-radius: inherit;
}
.navbar-brand{
    font-size: .9em;
    color:#fff;
    height: 46px;
    line-height: 46px;
    padding: 0 5px;
}
.nav-items{  }
.nav>li>a{
    padding: 4px 15px;
}
.navbar-nav>li>a{
    line-height: 46px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #0e0e22;
}
.navbar-link{
    width: 100%;
    height: 100%;
    color: #fff;
    margin-top: 6px;
}
.navbar-toggle{
    border-color: #ddd;
}

.waw,.waw-content{
    margin: 0 auto;
}
.dj-container{
    position: relative;
}
.dj,.mangua,.zhima{
    position: absolute;
}
.dj{
    /*background: url("../images/dj_4.png") center no-repeat;
    background-size: contain;
    width: 273px;
    height: 355px;*/
    width: 40.2%;
    left: 32.98%;
    z-index: 2;
}
.zhima{
    /*background: url("../images/dj_5.png") center no-repeat;
    background-size: contain;
    width: 292px;
    height: 182px;*/
    width: 43%;
    top: 44.24%;
    left: 63.03%;
    z-index: 4;
}
.mangua{
    /*background: url("../images/dj_6.png") center no-repeat;
    background-size: contain;
    max-width: 281px;
    height: 214px;*/
    width: 41.3%;
    top: 33.9%;
    left: 2px;
    z-index: 3;
}
.dj-bg{
    background: url("../images/dj_3.jpg") bottom left no-repeat;
    background-size: contain;
    /*width: 679px;
    height: 513px;*/
    width: 95.7%;
    max-width: 679px;
    margin: 130px auto 0;
    /*height: 677px;*/
    position: relative;
}
.waw{
    /*width: 353px;
    height: 28px;
    background: url("../images/dj_1.jpg") bottom no-repeat;
    background-size: contain;*/
    margin-top: 130px;
}
.waw-content{
    /*background: url("../images/dj_2.png") center no-repeat;
    background-size: contain;*/
    max-height: 502px;
    max-width: 596px;
    margin-top: 55px;
}
.row-one{
    padding-bottom: 99px;
    --webkit-border-bottom: 1px solid #7f7f7f;
    --moz-border-bottom: 1px solid #7f7f7f;
    --ms-border-bottom: 1px solid #7f7f7f;
    --o-border-bottom: 1px solid #7f7f7f;
    --khtml-border-bottom: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    position: relative;
}

.btn-about{
    position: absolute;
    display: block;
    background-color: #fff;
    background-image: url("../images/btn-about.png");
    background-size: contain;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 222px;
    height: 66px;
    top: 67px;
    left: 50%;
    margin-left: -111px;
}
.row-two>.col-md-6{
    padding-top: 86px;
    padding-bottom: 133px;
}
/*.custom-row{
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 1370px;
    zoom: 1;
}*/
#brand .col{
    padding: 0;
}
.dh1,.dh2,.dh3,.dh4,.dh5,.dh6,.dh7,.dh8,.dh9{
    position: absolute;
    -webkit-background-size: contain;
    background-size: contain;
}
.dh1{
    background: url("../images/dh_1.jpg") center no-repeat;
    width: 46%;
    height: 349px;
}
.dh2{
    background: url("../images/dh_2.jpg") center no-repeat;
    width: 27%;
    left:46%;
    height: 349px;
}
.dh3{
    background: url("../images/dh_3.jpg") center no-repeat;
    width: 27%;
    left:73%;
    height: 349px;
    -webkit-background-size: cover;
    background-size: cover;
}
.dh4,.dh5,.dh6{
    top: 349px;
}
.dh4{
    background: url("../images/dh_4.jpg") center no-repeat;
    width: 27%;
    height: 356px;
}
.dh5{
    background: url("../images/dh_5.jpg") center no-repeat;
    width: 46%;
    left: 27%;
    height: 630px;
}
.dh6{
    background: url("../images/dh_6.jpg") center no-repeat;
    width: 27%;
    left: 73%;
    height: 356px;
}
.dh7,.dh9{
    top: 705px;
}
.dh7{
    background: url("../images/dh_7.jpg") center no-repeat;
    width: 27%;
    height: 665px;
    -webkit-background-size: cover;
    background-size: cover;
}
.dh8{
    background: url("../images/dh_8.jpg") center no-repeat;
    width: 46%;
    left: 27%;
    height: 390px;
    top: 979px;
}
.dh9{
    background: url("../images/dh_9.jpg") center no-repeat;
    width: 27%;
    left: 73%;
    height: 665px;
    -webkit-background-size: cover;
    background-size: cover;
}
.row-three{
    margin-top: 173px;
    margin-bottom: 133px;
}
.dj-title{
    width: 30.89%;
    max-width: 593px;
}
.title-icon{
    width: 4.531%;
    max-width: 81px;
}
#row-four{
    background-color: #161415;
    position: relative;
    padding-top: 20.7%;
}
#row-four>.col-md-4{
    padding-bottom: 60px;
}
#pin{
    position: relative;
}
#feiji{
    width: 71.84%;
    height: 53.85%;
    background: url("../images/dj_10.png") center no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
    top: 0;
}
.row-four{
    background-color: #161415;
    position: relative;
    overflow: hidden;
}
.pingzi{
    max-width: 522px;
}
.dj-7,.dj-8,.dj-9,.dj-10{
    position: absolute;
}
.dj-7{
    background: url("../images/dj_7.png") center no-repeat;
    width: 510px;
    height: 285px;
    left: 152px;
    top: 149px;
}
.dj-8{
    background: url("../images/dj_8.png") center no-repeat;
    width: 420px;
    height: 427px;
    left: 925px;
    top: 124px;
    z-index: 2;
}
.dj-9{
    background: url("../images/dj_9.png") center no-repeat;
    width: 430px;
    height: 429px;
    top: 124px;
    left: 1457px;
}
.dj-10{
    background: url("../images/dj_10.png") center no-repeat;
    width: 842px;
    height: 230px;
    left: 745px;
    top: 109px;
}
.row-five{
    position: relative;
    background-color: #fffbed;
    overflow: hidden;
    padding-top: 160px;
}

.row-six{
    background-color: #eaeaea;
    background-image: url("../images/dj_19.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}
.yinxian{
    margin-top: 15px;
    margin-bottom: 106px;
}

.info-title{
    --webkit-border-bottom: 1px solid #7f7f7f;
    --moz-border-bottom: 1px solid #7f7f7f;
    --ms-border-bottom: 1px solid #7f7f7f;
    --o-border-bottom: 1px solid #7f7f7f;
    --khtml-border-bottom: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 42px;
}
.info-content{
    margin: 0 auto;
    padding-top: 119px;
    padding-bottom: 130px;
}
.dj-sjz{
    width: 100%;
    background: url("../images/dj_lc.png") top no-repeat;
    background-size: contain;
}
.lc-container{
    padding-bottom: 80px;
}
.lc1,.lc2,.lc3,.lc4,.lc5,.lc6{
    height: 462px;
    /*width: 100%;*/
    position: absolute;
    top: -5px;
}
.lc1{
    background: url("../images/dj_lc1.png") center top no-repeat;
    /*width: 199px;*/
    left: 49px;
}
.lc2{
    background: url("../images/dj_lc2.png") center top no-repeat;
    /*width: 171px;*/
    left: 327px;
}
.lc3{
    background: url("../images/dj_lc3.png") center top no-repeat;
    /*width: 153px;*/
    left: 592px;
}
.lc4{
    background: url("../images/dj_lc4.png") center top no-repeat;
    /*width: 158px;*/
    left: 859px;
}
.lc5{
    background: url("../images/dj_lc5.png") center top no-repeat;
    /*width: 162px;*/
    left: 1164px;
}
.lc6{
    background: url("../images/dj_lc6.png") center top no-repeat;
    /*width: 185px;*/
    height: 365px;
    left: 1428px;
}
.dj-name{
    padding: 16.94% 0;
}
#footer{
    background-color: #2f2f2f;
    padding-bottom: 30px;
}
#footer .container-fluid{
    background-color: #666666;
    color:#fff;
    padding-bottom: 20px;
}
.copy-info{
    margin: 80px auto;
    font-size: 1.6em;
    padding-left: 14.27%;
    padding-right: 10%;
    line-height: 2em;
}
.copy-info li{
    margin-bottom: 25px;
}
.ew-img{
    width: 32.25%;
    margin: 0 auto;
}
.ewm{
    width: 50%;
    padding: 0 15px;
}
.ew-img img:first-child{
    margin-right: 8.13%;
}

.dj-bq{
    margin-top: 45.4%;
}
.qs{
    height: 557px;
    width: 100%;
    background: url("../images/about/dp_7.png") center left no-repeat;
}
#about-header{
    height: 298px;
}
.year{
    width: 100%;
    padding: 25px;
}
.about-nav{
    background: url("../images/about/nav.png") center no-repeat;
    width: 253px;
    height: 51px;
    margin: 0 auto;
}
.about-container{
    position: relative;
}
.back{
    position: absolute;
    width: 295px;
    height: 177px;
    background: url("../images/about/dp_bk.png") center no-repeat;
    right: 25px;
    bottom: 0;
}
.back-a{
    display: block;
    width: 100%;
    height: 100%;
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width:  992px) {

    #brand{
        max-width: 1920px;
        margin: 0 auto;
    }
    #main-row>.col-md-9{
        width: 73%;
        padding: 0;
    }
    #main-row>.col-md-3{
        width: 27%;
        padding: 0;
    }
    #second-row>.col-md-9{
        padding: 0;
        width: 65.66%;
    }
    #second-row>.col-md-3{
        padding: 0;
        width: 34.34%;
    }
    #row-four>.col-md-4{
        max-width: 510px;
    }
    #row-four>.col-md-8{
        width: calc(100% - 510px);
    }
}
@media (min-width:  1740px) {
    .pingzi:first-child{
        margin-left: 15.18%;
    }
}
@media (max-width:  435px) {
    .navbar-brand{
        font-size: 0.6em;
    }
    .copy-info{
        font-size: 0.8em;
    }
}


