{% extends 'Layer.twig' %}
{% block content %}
    <div id="container" class="zym">
        <div class="banner ppzx" style=" height:400px"></div>
        <div class="main">
            <div class="nav_zym">
                <ul>
                    <h2><img src="/images/ppzx_05.jpg" width="205" height="200" /></h2>
                    <li><a href="/brand/">
                            {% if page=="brand" %}
                                <img src="/images/ppzx_ppjs_h.jpg" width="100" height="120" />
                            {% else %}
                                <img src="/images/ppzx_ppjs.jpg" width="100" height="120" />
                            {% endif %}
                        </a></li>
                    <li><a href="/activity/">
                            {% if page=="activity" %}
                                <img src="/images/ppzx_pphd_h.jpg" width="100" height="120" />
                            {% else %}
                                <img src="/images/ppzx_pphd.jpg" width="100" height="120" />
                            {% endif %}
                        </a></li>
                    <li><a href="/show/">
                            {% if page=="show" %}
                                <img src="/images/ppzx_ppzs_h.jpg" width="100" height="120" />
                            {% else %}
                                <img src="/images/ppzx_ppzs.jpg" width="100" height="120" />
                            {% endif %}
                        </a></li>
                </ul>
            </div>
                {% block pagecontent %}
                {% endblock %}
            </div>

    </div>
{% endblock %}
