{% extends 'profile.twig' %}
{% block pagecontent %}
<div class="con_top">
    <span style="float:left">作者:{{ item.author }}</span>
    <span style="float:right"></span>
</div>
    <div class="con_nr bm">
    <dl>
        <dt>{{ item.title }}</dt>
        {% autoescape true %}
            {{ item.content|raw }}
        {% endautoescape %}

    </dl>
    </div>
    <div class="con_bot"></div>

<div class="con_bot">
</div>
{% endblock %}