{% extends 'Layer.twig' %}
{% block content %}
    <div class="banner">
        <img src="/images/banner.jpg" alt="可瑞特" class="img-responsive">
    </div>
<div class="container-fluid" id="dou-pu">
    <div class="row">
        <div class="col-md-6 dj-container">
            <div class="dj-bg wow fadeIn" data-wow-duration="5" data-wow-delay="0.15s">
                <div class="dj wow bounceInDown" data-wow-duration="5" data-wow-delay="0.3s"></div>
                <div class="mangua wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.45s"></div>
                <div class="zhima wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.75s"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="waw wow fadeInRight" data-wow-duration="5" data-wow-delay="0.5s"></div>
            <div class="waw-content  wow fadeInRight"  data-wow-duration="5" data-wow-delay="0.95s"></div>
        </div>
    </div>
</div>
    <div class="row-one"><a href="/brand/" class="btn-about"></a></div>
    <div class="container-fluid">
        <div class="row row-two">
            <div class="col-md-6">
                <img src="/images/dj_wechat.jpg" alt="" class="img-responsive center-block wow bounceInDown"  data-wow-duration="5" data-wow-delay="0.5s">
            </div>
            <div class="col-md-6">
                <img src="/images/dj_weibo.jpg" alt="" class="img-responsive center-block  wow bounceInDown " data-wow-duration="5" data-wow-delay="1.2s">
            </div>
        </div>
    </div>
    <div class="container-fluid" id="brand">
        <div class="row" id="main-row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-img1 col-md-8">
                        <img src="/images/dh_1.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.25s">
                    </div>
                    <div class="col-img2 col-md-4">
                        <img src="/images/dh_2.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.4s">
                    </div>
                </div>
                <div class="row" id="second-row">
                    <div class="col-img4 col-md-3">
                        <img src="/images/dh_4.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.7s">
                        <img src="/images/dh_7.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.7s">
                    </div>
                    <div class="col col-md-9">
                        <img src="/images/dh_5.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.85s">
                        <img src="/images/dh_8.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.85s">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/images/dh_3.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.55s">
                <img src="/images/dh_6.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.85s">
                <img src="/images/dh_9.jpg" alt="" class="img-responsive center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="1.4s">
            </div>
        </div>
    </div>

<div class="container-fluid">
    <div class="row row-three">
        <div class="dj-title center-block wow flipInX"  data-wow-duration="5" data-wow-delay="0.45s">
            <img src="/images/dj_title.png" alt="" class="img-responsive" />
        </div>
        <div class="title-icon center-block wow flash"  data-wow-duration="5" data-wow-delay="1.25s">
            <img src="/images/title-icon.png" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row" id="row-four">
        <div class="col-md-4 wow bounceInRight"  data-wow-duration="5" data-wow-delay="1s">
            <img src="/images/dj_7.png" alt="" class="img-responsive center-block" />
        </div>
        <div class="col-md-8" id="pin">
            <div class="row">
                <div class="col-xs-6 col-sm-6 pingzi">
                    <img src="/images/dj_8.png" alt="" class="img-responsive center-block wow fadeIn"  data-wow-duration="5" data-wow-delay="1.75s" />
                </div>
                <div class="col-xs-6 col-sm-6 pingzi">
                    <img src="/images/dj_9.png" alt="" class="img-responsive center-block wow fadeInUp"  data-wow-duration="5" data-wow-delay="1.25s" />
                </div>
            </div>
            <div  id="feiji" class="wow lightSpeedIn"  data-wow-duration="5" data-wow-delay="1.5s"></div>
        </div>
    </div>
</div>
   {# <div class="row-four wow flipInX"  data-wow-duration="3" data-wow-delay="0.2s">
        <div class="dj-7 wow bounceInRight"  data-wow-duration="5" data-wow-delay="1s"></div>
        <div class="dj-8 wow fadeIn"  data-wow-duration="5" data-wow-delay="1.75s"></div>
        <div class="dj-9 wow fadeInUp"  data-wow-duration="5" data-wow-delay="1.25s"></div>
        <div class="dj-10 wow lightSpeedIn"  data-wow-duration="5" data-wow-delay="1.5s"></div>
    </div>#}
    <div class="row-five wow fadeIn" data-wow-duration="3" data-wow-delay="0.2s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <img src="/images/dj_14.png" alt="" class="img-responsive  wow fadeIn" data-wow-duration="5" data-wow-delay="1.25s" />
                    <img src="/images/dj_11.png" alt="" class="img-responsive bei center-block wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.5s" />
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="/images/dj_14.png" alt="" class="img-responsive  wow fadeIn" data-wow-duration="5" data-wow-delay="1.5s" />
                    <img src="/images/dj_12.png" alt="" class="img-responsive bei center-block wow fadeInDown" data-wow-duration="5" data-wow-delay="0.75s" />
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="/images/dj_14_b.png" alt="" class="img-responsive"  />
                    <img src="/images/dj_13.png" alt="" class="img-responsive center-block wow fadeInRight" data-wow-duration="5" data-wow-delay="1s" />
                </div>
            </div>
        </div>
    </div>
    <div class="row-six wow fadeIn"  data-wow-duration="3" data-wow-delay="0.2s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-sm-4 wow fadeIn"  data-wow-duration="5" data-wow-delay="0.5s">
                    <img src="/images/dj_15.png" alt="" class="img-responsive center-block">
                    <img src="/images/dj_16.png" alt="" class="img-responsive dj-name center-block">
                </div>
                <div class="col-xs-4 col-sm-4 wow fadeIn"  data-wow-duration="5" data-wow-delay="0.75s">
                    <img src="/images/dj_15.png" alt="" class="img-responsive center-block">
                    <img src="/images/dj_17.png" alt="" class="img-responsive dj-name center-block">
                </div>
                <div class="col-xs-4 col-sm-4 wow fadeIn"  data-wow-duration="5" data-wow-delay="1s">
                    <img src="/images/dj_15.png" alt="" class="img-responsive center-block">
                    <img src="/images/dj_18.png" alt="" class="img-responsive dj-name center-block">
                </div>
            </div>
        </div>
    </div>
    <div class="container"  id="men-dian">
        <div class="info-title wow fadeInDownBig" data-wow-duration="5" data-wow-delay="0.2s">
            <img src="/images/store.png" alt="" class="img-responsive center-block"  />
        </div>
        <div class="info-content wow fadeIn" data-wow-duration="5" data-wow-delay="0.5s">
            <img src="/images/dj_addr.png" alt="" class="img-responsive center-block"  />
        </div>
    </div>
    <div class="container" id="join">
        <div class="info-title wow fadeInDownBig" data-wow-duration="5" data-wow-delay="0.2s">
            <img src="/images/dj_jm.jpg" alt="" class="img-responsive center-block"/>
        </div>
        <div class="info-content wow fadeIn" data-wow-duration="5" data-wow-delay="0.5s">
            <img src="/images/dj_jmtj.png" alt="" class="img-responsive center-block"  />
        </div>
    </div>
    <div class="container-fluid">
        <div class="row lc-container">
            <img src="/images/dj_lc.png" alt="" class="img-responsive center-block wow fadeIn" data-wow-duration="5" data-wow-delay="0.25s" />
        </div>
    </div>
{% endblock %}

