{% extends 'Layer.twig' %}
{% block content %}
    <div class="banner">
        <img src="/images/banner.jpg" alt="可瑞特" class="img-responsive">
    </div>
<div class="container" id="dou-pu">
    <div class="row">
        <div class="col-md-6 dj-container">
            <div class="dj-bg wow fadeIn" data-wow-duration="5" data-wow-delay="0.15s">
                <div class="dj wow bounceInDown" data-wow-duration="5" data-wow-delay="0.3s"></div>
                <div class="mangua wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.45s"></div>
                <div class="zhima wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.75s"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="waw wow fadeInRight" data-wow-duration="5" data-wow-delay="0.5s"></div>
            <div class="waw-content  wow fadeInRight"  data-wow-duration="5" data-wow-delay="0.95s"></div>
        </div>
    </div>
</div>
    <div class="row-one"><a href="/brand/" class="btn-about"></a></div>
    <div class="container">
        <div class="row row-two">
            <div class="col-md-6">
                <img src="/images/dj_wechat.jpg" alt="" class="img-responsive center-block wow bounceInDown"  data-wow-duration="5" data-wow-delay="0.5s">
            </div>
            <div class="col-md-6">
                <img src="/images/dj_weibo.jpg" alt="" class="img-responsive center-block  wow bounceInDown " data-wow-duration="5" data-wow-delay="1.2s">
            </div>
        </div>
    </div>
    <div class="custom-row" id="brand">
        <div class="dh1 wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.25s"></div>
        <div class="dh2 wow fadeInRightBig" data-wow-duration="5" data-wow-delay="0.4s"></div>
        <div class="dh3 wow fadeInRightBig" data-wow-duration="5" data-wow-delay="0.55s"></div>
        <div class="dh4 wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.7s"></div>
        <div class="dh5 wow bounceIn" data-wow-duration="5" data-wow-delay="0.85s"></div>
        <div class="dh6 wow fadeInRightBig" data-wow-duration="5" data-wow-delay="1s"></div>
        <div class="dh7 wow lightSpeedIn" data-wow-duration="5" data-wow-delay="1.15s"></div>
        <div class="dh8 wow bounceInRight" data-wow-duration="5" data-wow-delay="1.3s"></div>
        <div class="dh9 wow flipInY" data-wow-duration="5" data-wow-delay="1.45s"></div>
    </div>

<div class="container">
    <div class="row row-three">
        <div class="dj-title center-block wow flipInX"  data-wow-duration="5" data-wow-delay="0.45s"></div>
        <div class="title-icon center-block wow flash"  data-wow-duration="5" data-wow-delay="1.25s"></div>
    </div>
</div>
    <div class="row-four wow flipInX"  data-wow-duration="3" data-wow-delay="0.2s">
        <div class="dj-7 wow bounceInRight"  data-wow-duration="5" data-wow-delay="1s"></div>
        <div class="dj-8 wow fadeIn"  data-wow-duration="5" data-wow-delay="1.75s"></div>
        <div class="dj-9 wow fadeInUp"  data-wow-duration="5" data-wow-delay="1.25s"></div>
        <div class="dj-10 wow lightSpeedIn"  data-wow-duration="5" data-wow-delay="1.5s"></div>
    </div>
    <div class="row-five wow fadeIn" data-wow-duration="3" data-wow-delay="0.2s">
        <div class="bei1 wow fadeInLeft" data-wow-duration="5" data-wow-delay="0.5s"></div>
        <div class="bei2 wow fadeInDown" data-wow-duration="5" data-wow-delay="0.75s"></div>
        <div class="bei3 wow fadeInRight" data-wow-duration="5" data-wow-delay="1s"></div>
        <div class="fuhao1 wow fadeIn" data-wow-duration="5" data-wow-delay="1.25s"></div>
        <div class="fuhao2 wow fadeIn" data-wow-duration="5" data-wow-delay="1.5s"></div>
    </div>
    <div class="row-six wow fadeIn"  data-wow-duration="3" data-wow-delay="0.2s">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow fadeIn"  data-wow-duration="5" data-wow-delay="0.5s">
                    <img src="/images/dj_15.png" alt="" class="img-responsive center-block yinxian">
                    <img src="/images/dj_16.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-md-4 wow fadeIn"  data-wow-duration="5" data-wow-delay="0.75s">
                    <img src="/images/dj_15.png" alt="" class="img-responsive center-block yinxian">
                    <img src="/images/dj_17.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-md-4 wow fadeIn"  data-wow-duration="5" data-wow-delay="1s">
                    <img src="/images/dj_15.png" alt="" class="img-responsive center-block yinxian">
                    <img src="/images/dj_18.png" alt="" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>
    <div class="container"  id="men-dian">
        <div class="info-title1 wow fadeInDownBig" data-wow-duration="5" data-wow-delay="0.2s"></div>
        <div class="info-content1 wow fadeIn" data-wow-duration="5" data-wow-delay="0.5s"></div>
    </div>
    <div class="container" id="join">
        <div class="info-title2 wow fadeInDownBig" data-wow-duration="5" data-wow-delay="0.2s"></div>
        <div class="info-content2 wow fadeIn" data-wow-duration="5" data-wow-delay="0.5s"></div>
    </div>
    <div class="container">
        <div class="dj-sjz center-block wow fadeIn" data-wow-duration="5" data-wow-delay="0.25s"></div>
        <div class="lc-container">
            <div class="lc1 wow bounceInLeft" data-wow-duration="5" data-wow-delay="0.5s"></div>
            <div class="lc2 wow bounceInLeft" data-wow-duration="5" data-wow-delay="0.75s"></div>
            <div class="lc3 wow bounceInLeft" data-wow-duration="5" data-wow-delay="1s"></div>
            <div class="lc4 wow bounceInRight" data-wow-duration="5" data-wow-delay="1.25s"></div>
            <div class="lc5 wow bounceInRight" data-wow-duration="5" data-wow-delay="1.5s"></div>
            <div class="lc6 wow bounceInRight" data-wow-duration="5" data-wow-delay="1.75s"></div>
        </div>
    </div>
{% endblock %}

