{% extends 'Layer.twig' %}
{% block content %}
<div id="container" class="qyn_sy">
<div class="banner" style="overflow:hidden;">
<div class="main">
	<div class="md">
    	<p class="m01"  id="boxa">32个省</p>
        <p class="m02"  id="boxb">8000+门店</p>
    </div>

</div>
</div>
<div id="contain" class="qyn_synr">
<div class="main">
<h2><a href="brand/" title="关于可瑞特" target="_blank"><img src="images/aboutQYN.png" width="216" height="150" alt="销售网络覆盖32个省，95%以上行政区域，8000＋门店" /></a></h2>
<div class="news_ct">
<dl>
            	<dt><a href="/brand/" target="_blank">{{ site.slogan }}</a></dt>
                <dd>{{ site.description }}</dd>
</dl>
</div>
<div class="news_more"><a href="/brand/" target="_blank">; </a></div>
</div>
</div>
</div>
{% endblock %}

